/** my course-specific styles **/

body .reveal section .whitebg img {
  background-color: #eee;
}

.reveal section img[alt="dot"] {
  background-color: #eee;
  border-radius: 13px;
  padding: 7px;
}

body .reveal section img.img_no_border {
  border: none;
}

body .reveal section img.img_no_background {
  background-color: transparent;
}

/*
The Equality boxes are also prevalent throughout
*/
.reveal .equality {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal .equality img {
  border: 0;
  height: 140px;
  display: inline-block;
  background: none;
  box-shadow: none;
}

.reveal .equality span {
  display: inline-block;
  padding: 0 15px;
  font-size: 70px;
}

.reveal .equality img.isblack {
  /* special style for imgs which needs some kind of bg work */
}
